<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="advertisingspaceforrent.demo.data.CategoryMapper">

    <select id="selectCategoryByLanguage" resultMap="Category">
        SELECT * FROM category WHERE languageId=#{languageId}
    </select>

    <select id="selectDonelistByUserAndCategoryId" resultMap="Donelist">
        SELECT * FROM donelist WHERE categoryId=#{categoryId} AND userId=#{userId}
    </select>

    <insert id="insertDonelist">
        INSERT INTO donelist (userId,categoryId)
        VALUES (#{userId},#{categoryId})
    </insert>

    <resultMap id="Category" type="advertisingspaceforrent.demo.po.Category"/>
    <resultMap id="Donelist" type="advertisingspaceforrent.demo.po.Donelist"/>
</mapper>
