<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="advertisingspaceforrent.demo.data.CategoryMapper">

    <select id="selectCategoryByLanguage" resultMap="Category">
        SELECT * FROM category WHERE languageId=#{languageId}
    </select>

    <resultMap id="Category" type="advertisingspaceforrent.demo.po.Category"/>
    
    <update id="finishCategoryById">
        UPDATE category WHERE id=#{categoryId} SET finished=1
    </update>
</mapper>
