<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="advertisingspaceforrent.demo.data.PuzzleMapper">

    <select id="selectPuzzleByUserid">
        SELECT puzzleid FROM puzzle WHERE userid=#{userid}
    </select>

    <select id="selectPuzzleByUseridAndPuzzle" resultMap="Puzzle">
        SELECT * FROM puzzle WHERE userid=#{userid} AND puzzleid=#{puzzleid}
    </select>

    <resultMap id="Puzzle" type="advertisingspaceforrent.demo.po.Puzzle"/>

    <insert id="insertPuzzle">
        INSERT INTO puzzle(userid, puzzleid)
        values(#{userid},#{puzzleid})
    </insert>
</mapper>