<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="advertisingspaceforrent.demo.data.QuestionMapper">

    <select id="selectQuestionByCategory" resultMap="Question">
        SELECT * FROM question WHERE categoryId=#{categoryId}
    </select>

    <resultMap id="Question" type="advertisingspaceforrent.demo.po.Question"/>

    <insert id="insertQuestion">
        INSERT INTO question(context,choiceA,choiceB,choiceC,choiceD,correct,categoryId)
        values(#{context},#{choiceA},#{choiceB},#{choiceC},#{choiceD},#{correct},#{categoryId})
    </insert>
</mapper>