<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="advertisingspaceforrent.demo.data.RecordMapper">

    <select id="selectRecordsByUserId" resultType="java.lang.Integer">
        SELECT questionId FROM record WHERE userId=#{userId}
    </select>

    <insert id="insertRecord">
        INSERT INTO record (userId,questionId)
        VALUES (#{userId},#{questionId})
    </insert>

    <delete id="deleteRecord">
        DELETE FROM record WHERE userId=#{userId} AND questionId=#{questionId}
    </delete>
    
</mapper>