<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="advertisingspaceforrent.demo.data.UserMapper">

    <select id="selectUserByUsername" resultMap="User">
        SELECT * FROM user WHERE username=#{username}
    </select>

    <select id="selectUserByUserid" resultMap="User">
        SELECT * FROM user WHERE id=#{userid}
    </select>

    <resultMap id="User" type="advertisingspaceforrent.demo.po.User"/>

    <insert id="insertMessage">
        INSERT INTO user(username,password,email,money)
        values(#{signUpForm.username}, #{signUpForm.password}, #{signUpForm.email}, 0)
    </insert>

    <update id="updateMoney">
        UPDATE user WHERE id=#{updateMoneyForm.userid} SET money=money+#{updateMoneyForm.money}
    </update>

    <select id="getRestMoney">
        SELECT money FROM user WHERE id=#{updateMoneyForm.userid}
    </select>
</mapper>